# Compiled python files
*.py[c|o]

# Distribution/VirtualENV
bin/
dist/
include/
lib/
venv/

# Cached python files
*pycache*
.pytest_cache/
.cache
.coverage*
*.egg-info
.eggs
.mypy_cache

# Folder preview
.DS_Store
.DS_Store/
Thumbs.db

# IDE Related
.idea
.vscode

# App files
timeview/gui/config.json
timeview/manager/dataset.db

# git .orig files
*.orig




